html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.btn__reset {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

input {
    padding: 0;
}
.flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: cursive, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1120px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
    @media (min-width: 768px) {
        padding: 0 24px;
    }
    @media (min-width: 1440px) {
        padding: 0 34px;
        width: 1120px;
        margin: 0 auto;
    }
}
